body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bi.bi-star-fill {
  color: gold;
  cursor: pointer;
}


.bi.bi-star {
  color: gold;
  cursor: pointer;
}